footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100vw;
    height: 10vh;
    background-color: #9A4837;
    color: white;
    font-family: montserrat-medium;
    padding: 10px;

    img{
        position: absolute;
        top: 50%;
        left: 30px;
        transform: translateY(-50%);
    }

    a{
        text-decoration: none;
        color: white;
        padding: 10px;
    }
}

@media screen and (max-width:768px) {
    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100vw;
        height: 20vh;
        background-color: #9A4837;
        color: white;
        font-family: montserrat-medium;
    
        img{
            position: relative;
            top: inherit;
            left: inherit;
            transform: translateY(0);
            width: 80%;
            margin: 0 auto;
        }
    
        a{
            display: flex;
            text-decoration: none;
            color: white;
            padding: 10px;
            font-size: 11px ;
        }

        p{
            font-size: 11px;
        }
    }
}