*{
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar{
    display: none;
}

body{
    overflow-x: hidden;
}

@font-face {
    font-family: montserrat-medium;
    src: url(../font/Montserrat-Medium.ttf);
}

@font-face {
    font-family: montserrat-semibold;
    src: url(../font/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: montserrat-extrabold;
    src: url(../font/Montserrat-ExtraBold.ttf);
}

@font-face {
    font-family: montserrat-regular;
    src: url(../font/Montserrat-Regular.ttf);
}

@font-face {
    font-family: montserrat-light;
    src: url(../font/Montserrat-Light.ttf);
}

@font-face {
    font-family: hello;
    src: url(../font/Hello\ Valentina.ttf);
}

@font-face {
    font-family: rouge;
    src: url(../font/RougeScript-Regular.ttf);
}

header{
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 100px;
    z-index: 1000; 
}

header img{
    margin-left: 100px;
}

.burger{
    display: none;
}

.menu-menu-principal-container{

    margin-right: calc(100px - 20px);

    .menu{
        display: flex;

        a:not(.sub-menu a){
            text-decoration: none;
            color: rgb(0, 0, 0);

            .home &{
                        color: white;
                    }

            &:hover{
                text-decoration: underline;
                text-decoration-color: #9A4837;
                text-underline-offset: 8px;
            }
        }

        li:not(.menu-item-106 , .menu-item-107 , .menu-item-108){
            list-style: none;
            padding: 20px;
            font-family: montserrat-medium;
            font-size: 15px;
            list-style: none;
            width: min-content;
            overflow: hidden;
        }

        .sub-menu{
            visibility: hidden;
            position: absolute;
            margin-top: 10px;
            pointer-events: none;

            li{
                list-style: none;
                margin-bottom: 5px;
            }
        }

        .menu-item-109:hover{

            .sub-menu{
                visibility: visible;
                pointer-events: auto;

                a{
                    text-decoration: none;
                    color: rgb(0, 0, 0);

                    .home &{
                        color: white;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:768px){

    header img{
        margin-left: 20px;
    }

    .container-header-responsive{
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgb(0, 0, 0, 0.5);

        &.active{
            visibility: visible;
        }
    }

    .menu-menu-principal-container{
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        width: 50vw;
        height: 100vh;
        background-color: #9A4837;
        transform: translateX(100%);
        transition: all 0.5s ease;

        &.active{
            transform: translateX(0);
        }

        .menu a:not(.sub-menu a) {
            color: white;
            margin-right: 20px;
        }

        .menu{
            flex-direction: column;
            align-items: flex-end;
            width: 100%;
            margin-top: 150px;
        

            a:not(.sub-menu a){
                text-decoration: none;
                color: rgb(255, 255, 255);
    
                .home &{
                            color: white;
                        }
    
                &:hover{
                    text-decoration: underline;
                    text-decoration-color: #9A4837;
                    text-underline-offset: 8px;
                }
            }

            .menu-item-109::before{
                content:'';
                background-image: url(../img/chevron-down-icon.svg);
                position: absolute;
                left: -5px;
                top: 50%;
                transform: translate(0,-50%);
                width: 10px;
                height: 10px;
                z-index: 10000;
            }

            li{
                text-align: right;
            }

            .sub-menu{
                position: relative;
                visibility: hidden;
                margin-top: 10px;
                height: 0;
                overflow: hidden;
    
                li{
                    list-style: none;
                    margin-bottom: 5px;
                    text-align: right;
                    width: max-content;
                    padding: 10px;
                }
            }

            .menu-item-109:hover{

                .sub-menu{
                    visibility: visible;
                    height: auto;
    
                    a{
                        text-decoration: none;
                        color: rgb(255, 255, 255);
    
                        .home &{
                            color: white;
                        }
                    }
                }
            }
        }
    }

    .burger{
        display: block;
        width: 50px;
        margin-right: 30px;
        z-index: 10000;
        height: 36px;
        span{
            z-index: 10000;
            display: block;
            width: 100%;
            height: 2px;
            background-color: #9A4837;
            transition: all 0.5s ease;

            &:nth-child(1){
                transform: translateY(0);

                &.active{
                    transform: translateY(10px);
                    animation: span1 0.5s 0.5s forwards;
                }
            }

            &:nth-child(2){

                transform: translateY(10px);

                &.active{
                    display: none;
                }
            }

            &:nth-child(3){
                transform: translateY(20px);

                &.active{
                    transform: translateY(10px);
                    animation: span3 0.5s 0.5s forwards;
                }
            }
        }

        span.active{
            background-color: white;
        }
    }

    @keyframes span1 {
        from{
            transform: translateY(0) rotate(0);
        }

        to{
            transform: translateY(20px) rotate(45deg);
        }
    }

    @keyframes span3 {
        from{
            transform: translateY(0) rotate(0);
        }

        to{
            transform: translateY(20px) rotate(-45deg);
        }
    }
}










