*{
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar{
    display: none;
}

@font-face {
    font-family: montserrat-medium;
    src: url(../font/Montserrat-Medium.ttf);
}

@font-face {
    font-family: montserrat-semibold;
    src: url(../font/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: montserrat-extrabold;
    src: url(../font/Montserrat-ExtraBold.ttf);
}

@font-face {
    font-family: montserrat-regular;
    src: url(../font/Montserrat-Regular.ttf);
}

@font-face {
    font-family: montserrat-light;
    src: url(../font/Montserrat-Light.ttf);
}

@font-face {
    font-family: hello;
    src: url(../font/Hello\ Valentina.ttf);
}

@font-face {
    font-family: rouge;
    src: url(../font/RougeScript-Regular.ttf);
}

header{
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 100px;
    z-index: 1000; 
}

header img{
    margin-left: 100px;
}


.menu-menu-principal-container{

    margin-right: calc(100px - 20px);

    .menu{
        display: flex;

        a:not(.sub-menu a){
            text-decoration: none;
            color: white;

            &:hover{
                text-decoration: underline;
                text-decoration-color: #9A4837;
                text-underline-offset: 8px;
            }
        }

        li:not(.menu-item-106 , .menu-item-107 , .menu-item-108){
            list-style: none;
            padding: 20px;
            font-family: montserrat-medium;
            font-size: 15px;
            list-style: none;
        }

        .sub-menu{
            visibility: hidden;
            position: absolute;
            margin-top: 10px;

            li{
                list-style: none;
                margin-bottom: 5px;
            }
        }

        .menu-item-109:hover{

            .sub-menu{
                visibility: visible;

                a{
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }
}










