* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: montserrat-medium;
  src: url(../font/Montserrat-Medium.ttf);
}
@font-face {
  font-family: montserrat-semibold;
  src: url(../font/Montserrat-SemiBold.ttf);
}
@font-face {
  font-family: montserrat-extrabold;
  src: url(../font/Montserrat-ExtraBold.ttf);
}
@font-face {
  font-family: montserrat-regular;
  src: url(../font/Montserrat-Regular.ttf);
}
@font-face {
  font-family: montserrat-light;
  src: url(../font/Montserrat-Light.ttf);
}
@font-face {
  font-family: hello;
  src: url(../font/Hello\ Valentina.ttf);
}
@font-face {
  font-family: rouge;
  src: url(../font/RougeScript-Regular.ttf);
}
header {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100px;
  z-index: 1000;
}

header img {
  margin-left: 100px;
}

.burger {
  display: none;
}

.menu-menu-principal-container {
  margin-right: 80px;
}
.menu-menu-principal-container .menu {
  display: flex;
}
.menu-menu-principal-container .menu a:not(.sub-menu a) {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.home .menu-menu-principal-container .menu a:not(.sub-menu a) {
  color: white;
}
.menu-menu-principal-container .menu a:not(.sub-menu a):hover {
  text-decoration: underline;
  text-decoration-color: #9A4837;
  text-underline-offset: 8px;
}
.menu-menu-principal-container .menu li:not(.menu-item-106, .menu-item-107, .menu-item-108) {
  list-style: none;
  padding: 20px;
  font-family: montserrat-medium;
  font-size: 15px;
  list-style: none;
  width: min-content;
}
.menu-menu-principal-container .menu .sub-menu {
  visibility: hidden;
  position: absolute;
  margin-top: 10px;
}
.menu-menu-principal-container .menu .sub-menu li {
  list-style: none;
  margin-bottom: 5px;
}
.menu-menu-principal-container .menu .menu-item-109:hover .sub-menu {
  visibility: visible;
}
.menu-menu-principal-container .menu .menu-item-109:hover .sub-menu a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.home .menu-menu-principal-container .menu .menu-item-109:hover .sub-menu a {
  color: white;
}

@media screen and (max-width: 768px) {
  .container-header-responsive {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .container-header-responsive.active {
    visibility: visible;
  }
  .menu-menu-principal-container {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    width: 50vw;
    height: 100vh;
    background-color: #9A4837;
    transform: translateX(100%);
    transition: all 0.5s ease;
  }
  .menu-menu-principal-container.active {
    transform: translateX(0);
  }
  .menu-menu-principal-container .menu {
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 50%;
    right: 40px;
    transform: translateY(-50%);
    width: 100%;
  }
  .menu-menu-principal-container .menu .menu-item-109::before {
    content: "";
    background-image: url(../img/chevron-down-icon.svg);
    position: absolute;
    left: -5px;
    top: 50%;
    transform: translate(0, -50%);
    width: 10px;
    height: 10px;
    z-index: 10000;
  }
  .menu-menu-principal-container .menu li {
    text-align: right;
  }
  .menu-menu-principal-container .menu .menu-item-109 {
    position: static;
  }
  .menu-menu-principal-container .menu .sub-menu {
    visibility: hidden;
    margin-top: 10px;
  }
  .menu-menu-principal-container .menu .sub-menu li {
    list-style: none;
    margin-bottom: 5px;
    text-align: right;
    width: max-content;
    padding: 10px;
  }
  .burger {
    display: block;
    width: 50px;
    margin-right: 50px;
    z-index: 10000;
  }
  .burger span {
    z-index: 10000;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #9A4837;
    transition: all 0.5s ease;
  }
  .burger span:nth-child(1) {
    transform: translateY(-10px);
  }
  .burger span:nth-child(1).active {
    transform: translateY(0px);
    animation: span1 0.5s 0.5s forwards;
  }
  .burger span:nth-child(2).active {
    display: none;
  }
  .burger span:nth-child(3) {
    transform: translateY(10px);
  }
  .burger span:nth-child(3).active {
    transform: translateY(0px);
    animation: span3 0.5s 0.5s forwards;
  }
  .burger span.active {
    background-color: white;
  }
  @keyframes span1 {
    from {
      transform: translate(0) rotate(0);
    }
    to {
      transform: translate(0) rotate(45deg);
    }
  }
  @keyframes span3 {
    from {
      transform: translate(0) rotate(0);
    }
    to {
      transform: translate(0) rotate(-45deg);
    }
  }
}
body {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #E3DED6;
  overflow-x: hidden;
}

.home {
  width: 100vw;
  height: 80vh;
  background-image: url(../img/bghome.jpg);
  background-size: cover;
  background-position: center;
  margin-bottom: 8vh;
  background-repeat: no-repeat;
}

.discover {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  width: 100%;
}

.discover h1 {
  margin-bottom: 15px;
  font-family: hello;
  font-size: 40px;
  letter-spacing: 2px;
  font-weight: 100;
}

.discover button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9A4837;
  padding: 10px;
  border-radius: 2px;
  width: 105px;
  height: 28px;
  border: none;
}

.discover button a {
  text-decoration: none;
  color: white;
  font-family: montserrat-semibold;
}

.title-home {
  position: relative;
  font-family: rouge;
  text-align: center;
  font-size: 36px;
  font-weight: 100;
  margin-bottom: 10vh;
  margin-left: 50px;
  margin-right: 50px;
}
.title-home span {
  position: relative;
}
.title-home span::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-image: url(../img/pink-bg.svg);
  background-size: cover;
  width: 130%;
  height: 100%;
}

.container-infos-gites {
  display: flex;
  flex-direction: column;
  position: relative;
}

.info-gite:nth-child(odd) {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100vw;
  height: 550px;
  margin-bottom: 100px;
}

.info-gite img {
  width: 60%;
  height: 100%;
  object-fit: cover;
}

.text-info-gite {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 40%;
  height: 100%;
  margin-left: 5%;
  font-family: montserrat-medium;
}
.text-info-gite h3:not(span) {
  position: relative;
  color: #9A4837;
  font-family: montserrat-medium;
  font-size: 24px;
  line-height: 50px;
  text-transform: uppercase;
}
.text-info-gite span {
  position: absolute;
  top: 100%;
  left: 50px;
  transform: translateY(-50%);
  color: black;
  font-size: 95px;
  font-family: rouge;
  font-weight: 100;
  text-transform: capitalize;
}
.text-info-gite p {
  font-size: 16px;
  line-height: 28px;
  width: 70%;
}
.text-info-gite a {
  position: relative;
  text-decoration: none;
  color: black;
  display: inline;
  width: min-content;
}
.text-info-gite a::after {
  content: "";
  position: absolute;
  left: 0;
  background-image: url(../img/pink-bg.svg);
  background-size: cover;
  width: 100%;
  height: 100%;
}

.info-gite:nth-child(even) {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 100vw;
  height: 550px;
  margin-bottom: 100px;
}

.container-about_us {
  width: 100vw;
  height: auto;
}

.container-video-about_us {
  display: flex;
}

.text-info-video-about_us {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 40%;
  margin-left: 100px;
  font-family: montserrat-medium;
}
.text-info-video-about_us h3 {
  position: relative;
  color: #9A4837;
  font-family: montserrat-medium;
  font-size: 24px;
  line-height: 50px;
}
.text-info-video-about_us span {
  position: absolute;
  top: 100%;
  left: 70px;
  transform: translateY(-50%);
  color: black;
  font-size: 95px;
  font-family: rouge;
  font-weight: 100;
}
.text-info-video-about_us p {
  font-size: 16px;
  line-height: 28px;
  width: 70%;
}
.text-info-video-about_us a {
  position: relative;
  text-decoration: none;
  color: black;
}
.text-info-video-about_us a::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-image: url(../img/pink-bg.svg);
  background-size: cover;
  width: 130%;
  height: 100%;
}

.container-video-about_us img {
  width: 700px;
  height: 400px;
  margin-right: 50px;
}

.container-citation {
  margin-top: 200px;
}

.citation:nth-child(odd) {
  display: flex;
}

.citation:nth-child(even) {
  display: flex;
  flex-direction: row-reverse;
}
.citation:nth-child(even) .text-citation {
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.citation:nth-child(even) img {
  margin-right: 60px;
  margin-left: 30px;
  object-fit: cover;
}

.citation {
  margin-bottom: 70px;
}
.citation img {
  width: 250px;
  height: 250px;
  margin-left: 60px;
  margin-right: 30px;
  object-fit: cover;
}
.citation h3 {
  font-family: rouge;
  font-size: 64px;
  font-weight: 100;
}
.citation p {
  font-family: montserrat-medium;
  font-size: 16px;
  width: 40%;
  line-height: 28px;
}

.back-to-top {
  background-image: url(../img/arrow.svg);
  width: 50px;
  height: 30px;
  background-position: cover;
  background-repeat: no-repeat;
  margin-top: 130px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.container-gite {
  margin: 0 100px;
  margin-top: 100px;
}
.container-gite h1:not(span) {
  position: relative;
  color: #9A4837;
  font-family: montserrat-medium;
  font-size: 24px;
  line-height: 50px;
  text-transform: uppercase;
}
.container-gite span {
  position: absolute;
  top: 100%;
  left: 50px;
  transform: translateY(-50%);
  color: black;
  font-size: 95px;
  font-family: rouge;
  font-weight: 100;
  text-transform: capitalize;
}
.container-gite h2 {
  position: relative;
  font-family: montserrat-semibold;
  font-size: 20px;
  display: inline;
}
.container-gite h2::after {
  content: "";
  position: absolute;
  top: 130%;
  left: 20%;
  width: 100%;
  height: 2px;
  background-color: #9A4837;
}
.container-gite .container-img-gallery {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 8px 8px;
  grid-template-areas: "img1 img2 img3" "img1 img2 img4";
  margin-top: 100px;
  width: 100%;
  height: 350px;
}
.container-gite .container-img-gallery .minia:nth-child(1) {
  grid-area: img1;
  height: 350px;
}
.container-gite .container-img-gallery .minia:nth-child(2) {
  grid-area: img2;
  height: 350px;
}
.container-gite .container-img-gallery .minia:nth-child(3) {
  grid-area: img3;
  height: 171px;
}
.container-gite .container-img-gallery .minia:nth-child(4) {
  grid-area: img4;
  height: 171px;
}
.container-gite .container-img-gallery div:not(.carousel) {
  height: 100%;
}
.container-gite .container-img-gallery img:not(.carousel-cell img) {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container-gite .container-img-gallery button {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-family: montserrat-regular;
  font-size: 14px;
  text-decoration: none;
  color: #E3DED6;
  background-color: black;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  font-weight: 100;
  cursor: pointer;
}
.container-gite .container-info {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  margin-left: 40px;
  margin-right: 40px;
}
.container-gite .text-info {
  width: 50%;
}
.container-gite .text-info .list {
  margin-top: 40px;
}
.container-gite .text-info .list h4 {
  font-family: montserrat-semibold;
  font-size: 14px;
  margin-bottom: 15px;
}
.container-gite .text-info .list li {
  font-size: 14px;
  font-family: montserrat-medium;
  margin-left: 20px;
}
.container-gite .picto-reserver {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container-gite .picto-reserver .picto {
  display: flex;
  column-gap: 100px;
}
.container-gite .picto-reserver .picto ul li {
  font-family: montserrat-medium;
  font-size: 14px;
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.container-gite .picto-reserver .picto ul li img {
  margin-right: 10px;
  width: 30px;
  height: 30px;
}
.container-gite .picto-reserver .reserver {
  display: flex;
  flex-direction: column;
}
.container-gite .picto-reserver .reserver h3 {
  font-family: montserrat-semibold;
  font-size: 24px;
  margin-bottom: 20px;
}
.container-gite .picto-reserver .reserver .button a {
  font-family: montserrat-regular;
  font-size: 14px;
  text-decoration: none;
  color: #E3DED6;
  background-color: black;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  font-weight: 100;
}
.container-gite .picto-reserver .reserver .button a:nth-child(3) {
  background-color: #9A4837;
}
.container-gite .container-localisation {
  display: flex;
  align-items: center;
  margin-top: 80px;
  margin-left: 40px;
  margin-right: 40px;
  padding-bottom: 100px;
  width: 100%;
}
.container-gite .container-localisation .text {
  width: 40%;
}
.container-gite .container-localisation p {
  font-size: 14px;
  font-family: montserrat-medium;
  width: 80%;
  line-height: 28px;
  margin-top: 40px;
}
.container-gite .container-carousel-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  z-index: 10000;
}
.container-gite .container-carousel-background .container-carousel {
  width: 80%;
  height: 80%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container-gite .container-carousel-background .container-carousel .carousel {
  width: 100%;
  height: 100%;
}
.container-gite .container-carousel-background .container-carousel .carousel-cell {
  width: 100%;
  height: 100%;
}
.container-gite .container-carousel-background .container-carousel .carousel-cell img {
  width: 100%;
  height: 80vh;
  object-fit: cover;
}
.container-gite .container-carousel-background .container-carousel .close {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 10000;
  background-color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.container-gite .container-carousel-background .container-carousel .close img {
  width: 100%;
  height: 100%;
}

.container-activity {
  margin-top: 130px;
  margin-left: 10px;
  margin-right: 10px;
  /* ---- grid ---- */
  /* clearfix */
  /* ---- grid-item ---- */
}
.container-activity h1 {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  font-family: montserrat-semibold;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
}
.container-activity h1::after {
  content: "";
  position: absolute;
  left: -30px;
  top: 110%;
  width: 100%;
  height: 2px;
  background-color: #9A4837;
}
.container-activity .grid {
  width: 100%;
  margin-top: 100px;
}
.container-activity .grid:after {
  content: "";
  display: block;
  clear: both;
}
.container-activity .grid-item {
  position: relative;
  box-sizing: border-box;
  width: calc(33.3333% - 16px);
  float: left;
  border-color: hsla(0deg, 0%, 0%, 0.5);
  margin-bottom: 15px;
  overflow: hidden;
  font-size: 0;
}
.container-activity .grid-item:hover img {
  transform: scale(1.05);
}
.container-activity .grid-item img {
  max-width: 100%;
  height: auto;
  transition: all 0.5s ease;
}
.container-activity .grid-item .text {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-family: montserrat-semibold;
  transition: all 0.5s ease;
}
.container-activity .grid-item .text h2 {
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 10px;
  transition: all 0.5s 0.5s ease;
}
.container-activity .grid-item .text p {
  font-size: 14px;
  opacity: 0;
  transition: all 0.5s 0.2s ease;
}
.container-activity .grid-item:hover p {
  opacity: 1;
}
.container-activity .grid-item:hover .text {
  top: 50%;
}
.container-activity .grid-item--width2 {
  width: calc(33.3333333333% - 20px);
}
.container-activity .grid-item--width3 {
  width: calc(33.3333333333% - 20px);
}
.container-activity .grid-item--width4 {
  width: calc(33.3333333333% - 20px);
}
.container-activity .grid-item--height2 {
  height: 250px;
}
.container-activity .grid-item--height3 {
  height: 300px;
}
.container-activity .grid-item--height4 {
  height: 350px;
}

.container-contact {
  margin-top: 130px;
  margin-left: 100px;
  margin-right: 100px;
}
.container-contact h1 {
  display: inline;
  position: relative;
  font-family: montserrat-semibold;
  font-size: 24px;
  margin-left: 30px;
}
.container-contact h1::after {
  content: "";
  position: absolute;
  left: -30px;
  top: 110%;
  width: 100%;
  height: 2px;
  background-color: #9A4837;
}
.container-contact .container-form_info-contact_map {
  margin-top: 40px;
  display: flex;
  width: 100%;
  column-gap: 100px;
}
.container-contact .form_info-contact {
  width: 60%;
}
.container-contact .container-form {
  margin-bottom: 100px;
  width: 100%;
}
.container-contact .wpforms-field-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "name textarea" "phone textarea" "mail textarea";
}
.container-contact #wpforms-99-field_0-container {
  grid-area: name;
  padding: 0;
}
.container-contact #wpforms-99-field_3-container {
  grid-area: phone;
  padding: 0;
}
.container-contact #wpforms-99-field_1-container {
  grid-area: mail;
  padding: 0;
}
.container-contact #wpforms-99-field_2-container {
  grid-area: textarea;
  padding: 0;
}
.container-contact #wpforms-99-field_1, .container-contact #wpforms-99-field_3, .container-contact #wpforms-99-field_0 {
  background-color: transparent;
  box-sizing: border-box;
  border-radius: 2px;
  color: #333;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: block;
  float: none;
  font-size: 16px;
  font-family: montserrat-medium;
  border: none;
  border-bottom: 1px solid #9A4837;
  padding: 0;
  height: 38px;
  width: max-content;
  line-height: 1.3;
}
.container-contact ::placeholder {
  font-family: montserrat-medium;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #000000;
}
.container-contact .wpforms-field-label {
  font-family: montserrat-medium;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #000000;
}
.container-contact div.wpforms-container-full .wpforms-form textarea {
  background-color: transparent;
  box-sizing: border-box;
  border-radius: 2px;
  color: #333;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: block;
  float: none;
  font-size: 16px;
  font-family: inherit;
  border: 1px solid #9A4837;
  padding: 6px 10px;
  height: 100%;
  width: 80%;
  line-height: 1.3;
  resize: none;
}
.container-contact div.wpforms-container-full .wpforms-form button[type=submit] {
  font-family: montserrat-regular;
  font-size: 14px;
  text-decoration: none;
  color: #E3DED6;
  background-color: #9A4837;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  font-weight: 100;
  border: none;
  margin-top: 30px;
}
.container-contact div.wpforms-container-full .wpforms-form button[type=submit]:hover {
  color: #E3DED6;
  background-color: #9A4837;
  border: none;
}
.container-contact .container-info-contact {
  font-family: montserrat-medium;
  font-size: 15px;
}
.container-contact .container-info-contact div {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.container-contact .container-info-contact div img {
  padding-right: 20px;
}
.container-contact .map {
  width: 40%;
  height: auto;
}
.container-contact .map iframe {
  width: 100%;
  height: 90%;
}

/*# sourceMappingURL=app.css.map */
