body{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #E3DED6;
    overflow-x: hidden;
}

.home{
    width: 100vw;
    height: 80vh;
    background-image: url(../img/bghome.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 8vh;
}

.discover{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 100%;
}

.discover h1{
    margin-bottom: 15px;
    font-family: hello;
    font-size: 40px;
    letter-spacing: 2px;
    font-weight: 100;
}

.discover button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9A4837;
    padding: 10px;
    border-radius: 2px;
    width: 105px;
    height: 28px;
    border: none;
}

.discover button a{
    text-decoration: none;
    color: white;
    font-family: montserrat-semibold;
}

.title-home{
    position: relative;
    font-family: rouge;
    text-align: center;
    font-size: 36px;
    font-weight: 100;
    margin-bottom: 10vh;
    margin-left: 50px;
    margin-right: 50px;

    span{
        position: relative;
    }

    span::after{
        content:'';
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            background-image: url(../img/pink-bg.svg);
            background-size: cover;
            width: 130%;
            height: 100%;
    }
}

.container-infos-gites{
    display: flex;
    flex-direction: column;
    position: relative;
}

.info-gite:nth-child(odd){
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    height: 550px;
    margin-bottom: 100px;
}

.info-gite img{
    width: 60%;
    height: 100%;
    object-fit: cover;
}

.text-info-gite{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 40%;
    height: 100%;
    margin-left: 5%;
    font-family: montserrat-medium;

    h3:not(span){
        position: relative;
        color: #9A4837;
        font-family: montserrat-medium;
        font-size: 24px;
        line-height: 50px;
        text-transform: uppercase;
    }

    span{
        position: absolute;
        top: 100%;
        left: 50px;
        transform: translateY(-50%);
        color: black;
        font-size: 95px;
        font-family: rouge;
        font-weight: 100;
        text-transform: capitalize;
    }

    p{
        font-size: 16px;
        line-height: 28px;
        width: 70%;
    }

    a{
        position: relative;
        text-decoration: none;
        color: black;
        display: inline;

        &::after{
            content:'';
            position: absolute;
            left: -10%;
            background-image: url(../img/pink-bg.svg);
            background-size: cover;
            width: 50%;
            height: 100%;
        }
    }
}

.info-gite:nth-child(even){
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 100vw;
    height: 550px;
    margin-bottom: 100px;
}

.container-about_us{
    width: 100vw;
    height: auto;
}

.container-video-about_us{
    display: flex;
}

.text-info-video-about_us{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40%;
    margin-left: 100px;
    font-family: montserrat-medium;

    h3{
        position: relative;
        color: #9A4837;
        font-family: montserrat-medium;
        font-size: 24px;
        line-height: 50px;
    }

    span{
        position: absolute;
        top: 100%;
        left: 70px;
        transform: translateY(-50%);
        color: black;
        font-size: 95px;
        font-family: rouge;
        font-weight: 100;
    }

    p{
        font-size: 16px;
        line-height: 28px;
        width: 70%;
    }

    a{
        position: relative;
        text-decoration: none;
        color: black;

        &::after{
            content:'';
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            background-image: url(../img/pink-bg.svg);
            background-size: cover;
            width: 130%;
            height: 100%;
        }
    }
}

.container-video-about_us img{
    width: 700px;
    height: 400px;
    margin-right: 50px;
}

.container-citation{
    margin-top: 200px;
}

.citation:nth-child(odd){
    display: flex;
}

.citation:nth-child(even){
    display: flex;
    flex-direction: row-reverse;

    .text-citation{
        text-align: right;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    img{
        margin-right: 60px;
        margin-left: 30px;
        object-fit: cover;
    }
}

.citation{

    img{
        width: 250px;
        height: 250px;
        margin-left: 60px;
        margin-right: 30px;
        object-fit: cover;
    }

    h3{
        font-family: rouge;
        font-size: 64px;
        font-weight: 100;
    }

    p{
        font-family: montserrat-medium;
        font-size: 16px;
        width: 40%;
        line-height: 28px;
    }

    margin-bottom: 70px;
}

.back-to-top{
    background-image: url(../img/arrow.svg);
    width: 50px;
    height: 30px;
    background-position: cover;
    background-repeat: no-repeat;
    margin-top: 130px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}




