.mentions{
    margin-top: 15vh;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 150px;
    
    b{
        font-family: montserrat-semibold;
    }

    p , a{
        font-family: montserrat-regular;
        line-height: 28px;
    }
}